<!DOCTYPE html>
<html>
    <head>
        <title>Today is another day</title>
    </head>

    <body>
        <h1>CITIES</h1>
        <ul>
            
            <li>City ##0 : Vancouver</li>
            
            <li>City ##1 : Toronto</li>
            
            <li>City ##2 : Istanbul</li>
            
            <li>City ##3 : Mecca</li>
            
            <li>City ##4 : Oslo</li>
            
        </ul>
        
        <p><iframe src="https://giphy.com/embed/LfGGW219qNzLP6IzTA" width="480" height="400" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></p>
        <hr>
        <p>May your dreams come true</p>
        <p>&#169; Peace @ iamisham.com, 2020</p>
    </body>
</html>