<!DOCTYPE html>
<html>
    <head>
        <title>Today is another day</title>
    </head>

    <body>
        <h1>CITIES</h1>
        <ul>
            {{range $key, $element := .}}
            <li>City #{{$key}} : {{$element}}</li>
            {{end}}
        </ul>
        
        <p><iframe src="https://giphy.com/embed/LfGGW219qNzLP6IzTA" width="480" height="400" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></p>
        <hr>
        <p>May your dreams come true</p>
        <p>&#169; Peace @ iamisham.com, 2020</p>
    </body>
</html>