<!DOCTYPE html>
<html>
    <head>
        <title>Enter a title, displayed at the top of the window.</title>
    </head>

    <body>
        <h1>EVERYONE DREAMS</h1>
        <p>What is a <b>dream</b> made of ? : </p>
        
        <ul>
            <li>Made of Goals</li>
            <li>Made of  <i> real <b>Ambitions</b> </i></li>
        </ul>
        
        <p><iframe src="https://giphy.com/embed/LfGGW219qNzLP6IzTA" width="480" height="400" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></p>
        <hr>
        <p>May your dreams come true</p>
        <p>&#169; Peace @ iamisham.com, 2020</p>
    </body>
</html>